server:
  port: 8084

spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:mysql://localhost:3310/auth_db?useSSL=false&allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true
    username: auth_user
    password: auth_pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

jwt:
  secret: my-ultra-secret-key-change-me-please-64chars-min-I-need-to-be-long-enough-for-the-HS512-algorithm
  expiration: 3600
