server:
  port: 8081
spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/demo
management:
  endpoints:
    web:
      exposure:
        include: health,info
